extends layout

block header
  title
    | Passport |&nbsp;
    = post.title

block page 
  - var menu = 'index';

block content
  .content(style="margin-left:40px; margin-right:40px;")
    span(style="width:700px;")
      h1
        = post.title
    if(login && userid == post.userid)
      span
        .btn-group
          button.btn.btn-default.btn_lg.publish(type="button", aria-label='Publish')
            span.glyphicon(class=(post.published)?"glyphicon-pause":"glyphicon-play", title=(post.published)?"Unpublish":"Publish")
          button.btn.btn-default.btn_lg(type='button', aria-label='Edit', onclick="post_edit(\"" + post._id + "\");")
            span.glyphicon.glyphicon-edit(title="Edit", aria-hidden='true')
          form(action="/"+post._id + "?_method=DELETE", method="POST", role="btn_delete", style="float: left;")
            button.btn.btn-danger.btn_lg.remove(type="submit", aria-label='Delete', onclick="if(!confirm(\"포스트를 삭제하시겠습니까?\")){return false;}")
              span.glyphicon.glyphicon-trash(title="Delete", aria-hidden='true')
    span(style="float: right;")
      - var postdate = post.date.default.toString().substring(0, 24);
      
      span 작성자 :&nbsp;
        = post.userid
        | &nbsp;&nbsp;
      span &nbsp;작성일자 :&nbsp;
        = postdate
      if(post.modate)
        br
        - var modate = post.modate.default.toString().substring(0, 24);
        span(style="float: right;") &nbsp;수정일자 :&nbsp;
          = modate
    hr(style="clear:both;")
    
    pre(style="")
      if(post.file != null)
        img(src=post.file.filename, alt=post.file.filename, width="400", style="float: left;margin-right:20px;")
      = post.text
      

block footer
  script.
    function post_edit(slug) { 
      if(confirm("포스트를 수정하시겠습니까?")){
        location.href = "/edit/" + slug;
      }
    }
