extends layout

block header
  title
    | Passport |&nbsp;글 수정

block page 
  - var menu = 'index';

block content
  .content(style="margin-left:40px; margin-right:40px;")
    div.col-md-8
      form(action="/edit", method="POST", role="form")
        div.form-group
          label(for="title") Title
          input#title.form-control(name="title", type="text", placeholder="Title", value=post.title)
        div.form-group
          label(for="slug") Slug :&nbsp;
          input#slug.form-control(name="slug", type="hidden", value=post._id)
          span.help-block You cannot change slug.
        div.form-group
          label(for="text") Text
          textarea#text.form-control(rows="5", name="text", placeholder="Text")
            = post.text
        p
          button.btn.btn-primary(type="submit") Edit