extends layout

block page 
  - var menu = 'index'
block content
  if (posts == 0)
    | No post right now...
    br
    a(href="/login") Login
    |  to post and publish.
  else 
    each post, index in posts
      div
        h2
          a(href=`/${post._id}`)= post.title
          |&nbsp;-&nbsp;
          a(href=`/${post._id}`)= post.userid