doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= appTitle
    script(type="text/javascript", src="js/jquery-3.4.1.min.js")
    script(type="text/javascript", src="css/bootstrap-3.0.2/js/bootstrap.min.js")
    link(rel="stylesheet", href="css/bootstrap-3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/bootstrap-3.0.2/css/bootstrap-theme.min.css")
    link(rel="icon" type="image/x-icon" href="assets/icon/favicon.ico")
    script.
      function check() {
        if(form.id.value == "") {
          alert("ID를 입력해 주세요.");
          form.id.focus();
          return false;
        } else if(form.password.value == "") {
          alert("비밀번호를 입력해 주세요.");
          form.password.focus();
          return false;
        } else if(form.name.value == "") {
          alert("name을 입력해 주세요.");
          form.name.focus();
          return false;
        } else if(form.mail.value == "") {
          alert("메일을 입력해 주세요.");
          form.mail.focus();
          return false;
        } else return true;
      }
    script.
      $( document ).ready( function() {
        var jbOffset = $( '.navbar' ).offset();
        $( window ).scroll( function() {
          if ( $( document ).scrollTop() > jbOffset.top ) {
            $( '.navbar' ).addClass( 'jbFixed' );
          }
          else {
            $( '.navbar' ).removeClass( 'jbFixed' );
          }
        });
      });
    style.
      .jbFixed {
        position: fixed;
        top: 0px;
        box-sizing: border-box;
      }


  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Passport
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          if login
            ul.nav.navbar-nav
              li
                a(href='/mypost') MyPost
              li
                a(href='/post') Post
          ul.nav.navbar-nav.navbar-right
            if login
              li
                form.navbar-form.navbar-left(action="/search", method="GET" role="search")
                  .form-group(style="float:left;")
                    input.form-control(type='text', name='search', placeholder='Search', style="width: 300px;")
                  button.btn.btn-default(type='submit') Search
              li
                a(href='/logout') Logout
            else
              li
                form.navbar-form.navbar-left(action="/login", method="POST" name="form" onsubmit="return check()")
                  .form-group
                    input.form-control(name="id", type='text', placeholder='ID', style="width: 200px;")
                    input.form-control(name="password", type='password', placeholder='Password', style="width: 200px;")
                  button.btn.btn-default(type='submit') Login
              li
                a(href='/signup') SignUp
    #wrap
      block page
      block header
      block alert
        div.alert #{ msg }
      br
      .content
        block content
    br
    block footer
      footer
        hr(style="clear:both;")
        .container
          p
            | Copyright &copy;2019
            br
            | Help? 
            a(href="mailto:md2eoseo@gmail.com") md2eoseo@gmail.com