extends layout

block header
  title
    | Passport |&nbsp;내 글

block page
  - var menu = 'mypost'

block content
  div.mypost
    if (posts == 0 )
      p
        | No post. 
        a(href="/post") Add
        |.
    else
      table.table.table-stripped
        thead
          tr
            th(colspan="2") Title
            th Actions
        tbody
          each post, index in posts
            tr(data-id=`${post._id}`, class=(!post.published)?'unpublished':'')
              td
                a(href=`/${post._id}`)= post.title
              td
              td.action
                button.btn.btn-default.publish(type="button", aria-label='Publish')
                  span.glyphicon(class=(post.published)?"glyphicon-pause":"glyphicon-play", title=(post.published)?"Unpublish":"Publish")
                button.btn.btn-default(type='button', aria-label='Edit')
                  span.glyphicon.glyphicon-edit(title="Edit", aria-hidden='true')
                button.btn.btn-danger.remove(type="button", aria-label='Delete')
                  span.glyphicon.glyphicon-trash(title="Delete", aria-hidden='true')