extends layout

block page
  - var menu = 'mypost'

block content
  div.mypost
    if (posts == 0 )
      p
        | No post. 
        a(href="/post") Add
        |.
    else
      table.table.table-stripped
        thead
          tr
            th Delete
            th Edit
            th Publish
            th(colspan="5") Title

        tbody
          each post, index in posts
            tr(data-id=`${post._id}`, class=(!post.published)?'unpublished':'')
              td.action
                button.btn.btn-danger.btn-sm.remove(type="button")
                  span.glyphicon.glyphicon-trash(title="Remove")
              td.action
                button.btn.btn-default.btn-sm.remove(type="button")
                  span.glyphicon.glyphicon-edit(title="Update")
              td.action
                button.btn.btn-default.btn-sm.publish(type="button")
                  span.glyphicon(class=(post.published)?"glyphicon-pause":"glyphicon-play", title=(post.published)?"Unpublish":"Publish")
              td
                a(href=`/${post._id}`)= post.title
      script(type="text/javascript", src="js/list.js")