extends layout

block header
  title
    | Passport |&nbsp;글쓰기

block page
  - var menu = 'post'

block content
    h2 글쓰기
    div= error
    div.col-md-8
      form(action="/post", method="POST", role="form", enctype="multipart/form-data")
        div.form-group
          label(for="title") 제목
          input#title.form-control(name="title", type="text", placeholder="Title", value=title)
        div.form-group
          label(for="slug") Slug
          input#slug.form-control(name="slug", type="text", placeholder="URL", value=slug)
          span.help-block 슬러그를 지정할 수 있습니다. 입력하지 않으면 제목으로 자동 설정됩니다.
        div.form-group
          label(for="text") 내용
          textarea#text.form-control(rows="5", name="text", placeholder="Text")= text
        div.form-group
          label(for="file") 이미지
          input#file(name="file", type="file", accept="image/jpeg, image/jpg, image/png")
        p
          button.btn.btn-primary(type="submit") 저장