extends layout

block header
  title
    | Passport |&nbsp;
    search

block page 
  - var menu = 'index'

block content
  if (posts == 0)
    | 검색된 결과가 없습니다...
    br
  else 
    .wrapper
      each post, index in posts
        - var postdate = post.date.default.toString().substring(0, 24);
        div.well.well-sm(style="float: left; width: 300px; height: 400px; box-sizing: border-box; margin: 10px;")
          h2(style="margin: 0px 0px 40px 20px; height: 50px; box-sizing: border-box; text-overflow: ellipsis;")
            a(href=`/${post._id}`)= post.title
          p(style="width: 270px; height: 260px; box-sizing: border-box; margin: 10px; overflow: hidden; text-overflow: ellipsis; word-break: break-all;")= post.text
          span= post.userid
          span(style="float: right;")= postdate